<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registriUsuario</servlet-name>
        <servlet-class>com.reporte.controlador.registriUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextoCtrl</servlet-name>
        <servlet-class>com.reporte.controlador.TextoCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registriUsuario</servlet-name>
        <url-pattern>/registriUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextoCtrl</servlet-name>
        <url-pattern>/TextoCtrl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
